[run]
branch = True
source = queso

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == "__main__":
    if debug:
ignore_errors = True
omit =
    setup.py
    tests/*
    queso/scaffolding/*
    _*.py
