[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
bumpversion = "*"
pylint = "*"
rope = "*"
boca = {editable = true,path = "."}
pytest-cov = "*"
bocadillo = "*"

[packages]
click = "*"

[requires]
python_version = "3.7"
